<h1>Sign up</h1>
<div>
  <%= form_with(model: @user, local: true) do |f| %>
    <% if @user.errors.any? %>
        The form contains <%= pluralize(@user.errors.count, "error") %>.
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label "Are you a dealerships owner?" %>
    <%= f.check_box :admin %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create Account" %>
  <% end %>
</div>
